/* Footer component */
footer {
    color: $white;
    background-color: $dark-blue;
    padding: 40px;
    width: 100%;

    .footer-ul {
        li {
            margin-bottom: 20px;
            color: $light-grayish-blue;

            &:hover {
                cursor: pointer;
            }
        }
    }
}