/* Header component */
header {
    padding: 15px;
    z-index: 99999;
    position: relative;
    background-color: $white;

    .wrapper {
        width: 100%;
        display: table;

        .central {
            display: table-cell;
            text-align: center;
        }

        .left,
        .right {
            display: table-cell;
        }

        .right {
            text-align: right;
        }

        @include mobile {

            .central,
            .right {
                display: none;
            }
        }
    }

    .menu-items {
        color: $grayish-blue;

        li {
            border-bottom: 4px solid transparent;
            transition: $transition-ease;

            &:hover {
                border-bottom: 4px solid $lime-green;
            }
        }
    }

    #mobile-right {
        display: none;

        &:hover {
            cursor: pointer;
        }

        @include mobile {
            display: inline-block;

            #mobile-btn {
                color: $grayish-blue;
            }
        }
    }
}

.mobile-menu {
    opacity: 0;
    z-index: 9999;
    padding: 10px;
    font-weight: $weight-normal;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 120px 250px hsla(233, 26%, 24%, 0.432);
    z-index: 9999;
    border-radius: 5px;
    @include container(90%);
    margin-top: 20px;
    position: absolute;
    left: 5%;
    transition: 200ms ease-in;

    li {
        margin: 30px 0;
        transition: $transition-ease;
        color: $dark-blue;

        &:hover {
            color: $lime-green;
            cursor: pointer;
        }
    }
}