section {
    padding: 60px 40px;

    @include mobile {
        padding: 60px 10px;
        text-align: center;
    }
}

#why-section {
    background-color: $light-grayish-blue;
}

#landing-section,
#latest-articles-section {
    background-color: $very-light-gray;
}

#landing-section {
    @include backgroundImageCover('/images/bg-intro-desktop.svg');
    background-position-x: 700px;
    background-position-y: -400px;
    padding: 21vh 40px;

    @include mobile {
        padding: 60vh 10px 10vh 10px;
        background-position-x: -200px;
        background-position-y: -450px;
    }
}