/* Import all .scss directories */
/* Import all abstracts .scss files */
/* -- Colors -- */
/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Mixins */
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.horizontal-list li {
  display: inline-block;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  margin-left: -2px;
  margin-right: 2em;
}

.horizontal-list li:hover {
  cursor: pointer;
  color: #31d35c;
}

@media (max-width: 1340px) {
  .horizontal-list li {
    margin: 0 10px !important;
  }
}

.container {
  margin: 0 auto;
  width: 87%;
}

@media (max-width: 1340px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
}

/* Import all base .scss files */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 * - Type sizes
 * - Misc
 * - Utilities
 *
 * Body font size, leadings etc have been set in _variables.scss
 */
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
  margin-top: 0;
  margin-bottom: 20px;
  color: #2d314d;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
}

.title-landing {
  font-size: 48px;
  line-height: 1.3em;
}

.title-section {
  font-size: 30px;
  font-weight: 400;
}

.sm-title {
  font-size: 22px;
  margin: 30px 0;
}

p {
  color: #9698a6;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.article-author {
  font-size: 13px;
}

.article-title {
  font-size: 22px;
  line-height: 1.35em;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.article-title:hover {
  color: #31d35c;
  cursor: pointer;
}

/* Import all components .scss files */
/* Place all button components styling here */
.cta-btn {
  color: white;
  background: #31d35c;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  padding: 15px 30px;
  border-radius: 25px;
  font-weight: 700;
  border: none;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  display: inline-block;
}

.cta-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

button {
  outline: none;
}

/* Place all modal/popup components styling here */
.card {
  border-radius: 5px;
}

@media (max-width: 1340px) {
  .card {
    text-align: left;
  }
}

.card-top {
  height: 200px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-filter: brightness(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.card-top:hover {
  -webkit-filter: brightness(70%);
}

.card-bottom {
  background-color: white;
  padding: 20px;
  min-height: 180px;
}

#image-currency {
  background: url("/images/image-currency.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

#image-restaurant {
  background: url("/images/image-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

#image-airplane {
  background: url("/images/image-plane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

#image-confetti {
  background: url("/images/image-confetti.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

#image-mockups {
  right: -130px;
  top: -60px;
  position: absolute;
}

@media (max-width: 1340px) {
  #image-mockups {
    top: -100px;
    left: 20px;
    height: 550px;
    z-index: 100;
  }
}

/* Import all layouts .scss files */
/* Footer component */
footer {
  color: white;
  background-color: #2d314d;
  padding: 40px;
  width: 100%;
}

@media (max-width: 1340px) {
  footer {
    text-align: center;
  }
}

footer .footer-ul li {
  margin-bottom: 20px;
  color: #f3f4f6;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

footer .footer-ul li:hover {
  cursor: pointer;
  color: #31d35c;
}

/* Header component */
header {
  padding: 15px;
  z-index: 99999;
  width: 100%;
  position: relative;
  background-color: white;
}

@media (max-width: 1340px) {
  header {
    position: fixed;
    -webkit-box-shadow: 0 0 15px 2px #00000021;
            box-shadow: 0 0 15px 2px #00000021;
  }
}

header .wrapper {
  width: 100%;
  display: table;
}

header .wrapper .central {
  display: table-cell;
  text-align: center;
}

header .wrapper .left,
header .wrapper .right {
  display: table-cell;
}

header .wrapper .right {
  text-align: right;
}

@media (max-width: 1340px) {
  header .wrapper .central,
  header .wrapper .right {
    display: none;
  }
}

header .menu-items {
  color: #9698a6;
}

header .menu-items li {
  border-bottom: 4px solid transparent;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header .menu-items li:hover {
  border-bottom: 4px solid #31d35c;
}

header #mobile-right {
  display: none;
}

header #mobile-right:hover {
  cursor: pointer;
}

@media (max-width: 1340px) {
  header #mobile-right {
    display: inline-block;
  }
  header #mobile-right #mobile-btn {
    color: #9698a6;
  }
}

.mobile-menu {
  display: none;
  z-index: 9999;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 0 120px 250px rgba(45, 49, 77, 0.432);
          box-shadow: 0 0 120px 250px rgba(45, 49, 77, 0.432);
  z-index: 9999;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  margin-top: 20px;
  position: fixed;
  top: 8%;
  left: 5%;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.mobile-menu li {
  margin: 30px 0;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  color: #2d314d;
}

.mobile-menu li:hover {
  color: #31d35c;
  cursor: pointer;
}

section {
  padding: 60px 40px;
}

@media (max-width: 1340px) {
  section {
    padding: 60px 10px;
    text-align: center;
  }
}

#why-section {
  background-color: #f3f4f6;
}

#landing-section,
#latest-articles-section {
  background-color: #fafafa;
}

#landing-section {
  background: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  background-position-x: 700px;
  background-position-y: -400px;
  padding: 21vh 40px;
}

@media (max-width: 1340px) {
  #landing-section {
    padding: 60vh 10px 10vh 10px;
    background-position-x: -200px;
    background-position-y: -450px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 1340px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row .col {
  padding: 12px;
  position: relative;
}

@media (max-width: 1340px) {
  .row .col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.row .col-3 {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.row .col-4 {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
}

.row .col-6 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
/*# sourceMappingURL=main.css.map */