/* Place all button components styling here */
.cta-btn {
    color: $white;
    background: rgb(49, 211, 92);
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: $weight-bold;
    border: none;
    transition: $transition-ease;
    display: inline-block;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

button {
    outline: none;
}